header {
  height: 100vh;
}
.row {
  display: flex;
  margin-top: 5%;
  height: inherit;
}

.column {
  padding-top: 8%;
  flex: 50%;
}
.Hero-context {
  text-align: start;
  width: 90%;
  height: inherit;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Hero-para {
  padding-top: 5%;
}
.context-btn {
  margin-top: 5%;
}
h3 {
  color: #091133;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  height: 132px;
}
p {
  height: 164px;
  top: 152px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
}
.group {
  width: 100%;
  height: auto;
}
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 50px;
  border: 1px solid #111b47;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #111b47;
  color: white;
  margin-right: 35px;
}
.btn-ghost:link,
.btn-ghost:visited {
  color: #111b47;
}
.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  color: #111b47;
}
