.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.landie li {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447e;
  text-align: center;
  text-decoration: none;
}
.main-nav {
  float: left;
  font-size: inherit;
  color: #505f98;
  padding-left: 10%;
}
.main-nav li {
  display: inline-block;
  margin-right: 50px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 5px 0;
  color: #505f98;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 1px solid #505f98;
}
.btn-buy {
  margin-top: 1%;
  margin-left: 70vh;
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  padding: 5px 50px;
  border: 1px solid #111b47;
  background-color: #111b47;
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
